.App {
  position: relative;
  min-height: 100vh;
}

.content {
  padding: 20px;
}

.chat-box {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px;
}

input[type="text"] {
  width: calc(100% - 120px);
  padding: 5px;
  margin-right: 5px;
}

button {
  padding: 5px 10px;
  cursor: pointer;
}
